@model WebApplication2.ViewModels.orders_warehouses

@{
    ViewBag.Title = "Create order";
}


<div style="width:700px; display:inline-block">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Create Order</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.naracki.warehouse_id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.naracki.warehouse_id, new SelectList(Model.magacini, "Id", "Location"), "Select", new { @class = "form-control", @id = "dropdown_mag" })
                    @Html.ValidationMessageFor(model => model.naracki.warehouse_id, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.naracki.kolicina, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.naracki.kolicina, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.naracki.kolicina, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.naracki.poceten_datum, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.naracki.poceten_datum, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.naracki.poceten_datum, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.naracki.kraen_datum, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.naracki.kraen_datum, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.naracki.kraen_datum, "", new { @class = "text-danger" })
                </div>
            </div>

            @*
            <div class="form-group">
                @Html.LabelFor(model => model.naracki.Od, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.naracki.Od, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.naracki.Od, "", new { @class = "text-danger" })
                </div>
            </div>
             *@
            <div class="form-group">
                @Html.LabelFor(model => model.naracki.Opis, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.naracki.Opis, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.naracki.Opis, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

<div style="display:inline-block; width:400px;vertical-align:top">
    <div id="datumi" style="padding-top:80px;">

    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#dropdown_mag").change(function () {
                var id = $('#dropdown_mag option:selected').val();
                var oders;
               //alert(id);
               $.ajax({
                    url: "/orders/get_by_id/" + id,
                   success: function (data) {
                       //alert(data);
                       //var nesto = JSON.parse(data);
                        //var logJson = JsonConvert.SerializeObject(data); 

                       $("#datumi").html(data);
                       //$("#datumi").text($("#datumi").text() + "AAA");
                    }
                });

            })
        })
    </script>
    
}
