@model WebApplication2.Models.Warehouse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="row">
<div>
    <h4>Warehouse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supervisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supervisor)
        </dd>

    </dl>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
